@use "../variable" as v;

.header{
    width: 100vw;
    height: 220px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h2{
        color: v.$white;
        font-size: 32px;
        font-weight: 700;
        word-spacing: 4px;
    }

    .header-input{

        input{
            outline: none;
            border: none;
            width: 380px;
            height: 32px;
            border-radius: 5px;
            padding-left: 15px;
        }

        button{
            
        }
        
    }

}