@use "../variable" as v;
@use "../mixin" as m;


.header{
    position: relative;
    width: 100vw;
    height: 260px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .header-container{
        z-index: 999;
        position: absolute;
        height: 300px;
        left: 50%;
        top: 65%;
        transform: translate(-50%, -50%);
        @include m.flex_column;
        justify-content:space-between;
        align-items: center;
        
        h2{
            color: v.$white;
            font-size: 32px;
            font-weight: 700;
            word-spacing: 4px;
        }

        .header-input{
            position: relative;
            width: 420px;
            input{
                outline: none;
                border: none;
                width: 420px;
                height: 42px;
                border-radius: 15px;
                padding-left: 15px;
            }
            
            button{
                position: absolute;
                height: 42px;
                width: 42px;
                border-radius: 0 15px 15px 0;
                top: 0;
                right: 0;
                border: none;
                outline: none;
                background-color: black;
                @include m.center;
                &:hover{
                    background-color: rgba(0, 0, 0, 0.838);
                    cursor: pointer;
                }
            }
            
        }
        .header-info{
            width: 860px;
            height: 140px;
            border-radius: 25px;
            background-color:white;
            border: 1px solid black;
            @include m.flex_row;
            justify-content: space-around;
            align-items: center;
            .header-info-items{
                @include m.flex_column;
                align-items: center;
                justify-content: space-around;
                border-left: 1px solid rgb(208, 207, 207);
                padding: 10px;
                height: 65%;
                width: 25%;

                .info-header{
                    color: v.$mid-grey;
                    font-size: 16px;
                    font-weight: 500;
                }

                .info-content{
                    color: black;
                    font-size: 16px;
                    font-weight: 500;
                }

            }
        }
        }

}